################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/c++/raw_sample_from_484/.vs/raw_sample_from_484/v15/Browse.VC.opendb
